* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 3px solid #3a79f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.add-ad-btn {
    padding: 12px 25px;
    background-color: #3a79f9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.add-ad-btn i {
    margin-right: 10px;
}

.add-ad-btn:hover {
    background-color: #2f65d6;
}

.chat-title {
    font-size: 28px;
    color: #333;
    font-weight: bold;
}

.container {
    width: 100%;
    max-width: 80%;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.search-bar input {
    width: 85%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
    font-size: 18px;
}

.search-bar button {
    padding: 15px;
    background-color: #3a79f9;
    border: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #2f65d6;
}

.chat-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.chat-box:hover {
    background-color: #e2e2e2;
}

.chat-avatar img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.chat-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.chat-info h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.chat-info p {
    font-size: 16px;
    color: gray;
}
